
html, body
{
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body
{
    background: rgb(131,58,180);
    background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(69,252,201,1) 29%, rgba(29,154,253,1) 34%);
}


#grid
{
    height: 100%;
    width: 100%;
    display: inline-grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#grid > div
{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#grid > div > a
{
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}


#barrel
{
    position: relative;
    display: flex;
    justify-content: center;
    transform-origin: top;
    top: 20px;
    height: 100px;
    width: 30px;
    background-color: white;
    
}

#barrel2
{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 20px;
    background-color: black;
}

#laser
{
    z-index: -1;
    width: 3px;
    height: 1000px;;
    background-color: red;
}

#recoil_target
{
    
    width: 2px;
    height: 100px;
    background-color: blue;
    position: absolute;
}

:root {
    --bullet-start-x: 50%;
    --bullet-end-x: 280px;
    
    --bullet-start-y: 50%;
    --bullet-end-y: 280px;

    --gun-start-x: 50%;
    --gun-end-x: 280px;
    
    --gun-start-y: 50%;
    --gun-end-y: 280px;



}
@keyframes bullet_travel {
    0%   
    {
        left:calc(var(--bullet-start-x) - 15px);
        top:calc(var(--bullet-start-y) - 25px);
    }

    100% 
    {
        left:var(--bullet-end-x); 
        top:var(--bullet-end-y);
    }
  }
  @keyframes recoil {
    0%   
    {
        left:calc(var(--gun-start-x) - 25px);
        top:calc(var(--gun-start-y) - 25px);
    }

    100% 
    {
        left:calc(var(--gun-end-x)); 
        top:calc(var(--gun-end-y));
    }
  }


  #gun
{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    transform-origin: center;
    background-color: red;
    border-radius: 100px;
    width: 75px;
    height: 75px;
    animation-name: none;
    animation-duration: 2s;
}

#bullet
{
    position: absolute;
    z-index: -2;
    width: 30px;
    height: 50px;
    background-color: black;
    display: block;
    opacity: 1;
    border-end-end-radius: 100px;
    border-end-start-radius: 100px;
    animation-name: none;
    top: -200px;
    animation-duration: 1s;
}
