h1, h2 {
  color: blue;
}

#canvas {
  margin: 20px;
  background-color: white;
  cursor: crosshair;
  border: solid 2px orange;
  border-radius: 5px;
}

#canvas :last-child {
  position: absolute;
  top: 200px;
  left: 200px;
}

button {
  background-color: #f0d43a;
  color: black;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 10px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: red;
  background: yellow;
  transform: scale(1.2);
}

button:active {
  transform: scale(0.8);
  background-color: red;
}
