/* Elementtyper */
body {
	background-color: Moccasin;
}
h1,h2{
	color: blue;
}
input[type=text] {
	margin: 4px;
	text-align: center;
	background-color: lightyellow;
}
input[type=number] {
	margin: 4px;
	text-align: end;
	background-color: lightblue;
}
button {
	margin: 4px;
	padding: 8px;
	background-color: orange;
	border: 1px solid black;
	border-radius: 4px;
}
button:hover{
	background-color: #E8ECEB;
}
button:active{
	background-color: yellow;
}
textarea {
	margin-top: 10px;
}
label { 
	display: inline-block;
	text-align: right;
}

/* Klasser for input-felt med forskjellige lengder (short || medium || long*/
.sLength{
	width: 60px;
	text-align: right;
}

.mLengt{
	width: 100px;
	text-align: right;
}

.lLength{
	width: 150px;
	text-align: right;
}
/* Basert på id-navn. Spesifikk kode for hver app*/
#knapp3{
	background-color:magenta;
}
#knapp3:hover{
	background-color: #E8ECEB;
}
#knapp3:active{
	background-color: yellow;
}